*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
.navbar{
    color: white;
    background-color: #0f1111;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border-color: white;
    border-radius: 3.5px;
}
.nav-logo img{
    width: 113px;
    height: 48px;
}
.nav-loc{
    width:92px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-loc-text{
    font-size: 12px;
    color:#cccccc;
    margin-left: 12px;
}
.nav-loc-info{
    color:white;
    display: flex;
    
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    height:35px;
    text-align: center;
    border-top-left-radius:5px ;
    border-bottom-left-radius: 5px;
}
.search-input{
    width: 893px;
}
.search-icon{
    background-color: orange;
    width:40px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-icon i{
    align-content: center;
}

.nav-search{
    display: flex;
}
.sign-in{
    width: 135px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-text1{
    font-size: 12px;
}
.sign-text2{
    font-size: 14px;
    font-weight: bold;
}
.order-return{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-text1{
    font-size: 12px;
}
.order-text2{
    font-size: 14px;
    font-weight: bold;
}
.nav-cart{
    width: 84px;
    height: 50px;
    display: flex;
   align-items: end;
}
.nav-cart-holder{
    font-size: 35px;
    /* margin:10px 0px; */
}
.nav-cart p{
    /* margin-bottom: 10px; */

}
/* panel */
.bar{
    position:relative;
    top:60px;
    height: 39px;
    color: white;
    background-color: #232f3e;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.panel-all{
    width: 39;
    height: 59;
    font-size: 14px;
    font-weight: 700;
}

.panel-ops{
    width: 70%;
    font-size: 14px;
    display: flex;
   
}
.panel-ops p{
    margin: 10px;
}

.hero-sec{
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/Events/img23/Jupiter23/Homepage/KV_Hero_PC_Day-1_2X_EN._CB575892060_.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: 60px;
}


.box{
    height: 420px;
    width: 370px;
    box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
    border: 1px solid transparent;
}
.shop-sec{
    margin: 10px 0px;
    display: flex;
    justify-content:space-evenly;
}
.electronics img{
    height: 300px;
    width: 349px;
    margin-top: 15px;
    margin-left: 10px;
}
.box1 p{
    margin: 10px;
    font-size:21px;
    font-weight: 700;
}
.box2-head{
    margin: 10px;
    font-size:21px;
    font-weight: 700;
}
.home-appl{
    display:flex;
    flex-wrap: wrap;
}
.home-appl-img1{
    width:150px;
    height:100px;
    margin:30px 17px;
    font-size: 12px;
}
.home-appl-img1 img{
    width:163px;
    height:102px;
}
.box4 p{
    margin: 10px;
    font-size:21px;
    font-weight: 700;
}
.third-sec{
    height:300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.third-img-holder img{
    width:220px;
    height:220px;
}
.see-all-off{
    font-size: 13px;
    color: #007185;
    text-decoration: none;
    margin-left: 20px;
}
.third-sec-head p{
    font-size: 21px;
    font-weight: 700;
    margin-left: 20px;
}
.third-sec-head p,a{
    display: inline;
}

/* footer */
.footer-one{
    background-color: #37475a;
    height: 49px;
    color: white;
    text-align: center;
}
.footer-one p{
    padding: 20px 0px;
    font-size: 13px;
}
.footer-two{
height: 500px;
background-color: #222f3d;
}
.footer-ul-text{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    
}
.footer-ul-text ul{
    margin-top: 50px;
}
.footer-ul-text li{
    margin: 15px 15px 15px 0px;
    list-style: none;
}
.footer-ul-text ul p{
    font-weight: 700;
}
.footer-ul-text a{
    font-size: 13px;
    color:white;
    text-decoration: none;
}
.footer-ul-text a:hover{
    text-decoration: underline;
    color: white;
}
.footer-three{
    margin-top: 50px;
    
    height:68px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-width:0.5px 0px 0px 0px;
    border-style: solid;
    border-top-color: gray;

}
.glob-cont{
   
    height: 50px;
    width: 100px;
    border: solid 1px white ;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 20px;
}
.glob-cont i{
    margin-right: 8px;
    color: white;
}
.footer-three img{
    margin-top: 20px;

}





